# Snakemake piepline
.snakemake/*
genomic_data/*
logs/*
mydb/*
nohup/*
old/*
outputs/*
pyout/*
pyplt/*
shout/*
test/*
temp/*
benchmarks/*
*.log

# python
__pycache__/*
*.pyc
.ipynb_checkpoints/*

# vscode
.vscode/*